.card {
	margin: 0;
	// width: 320px;
	padding: 1em;
	border-radius: 2px;
	margin: 10px auto;
	color: #333333;
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.123);
	overflow: hidden;
	// background-color: #ffffff;
}

// .card {
// 	margin: 0;
// 	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
// 	border-radius: 6px;
// 	padding: 1rem;
// 	padding: 1rem;
// 	overflow: hidden;
// 	background: white;
//  }
